@using System.Web.Mvc.Html
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model PagedList.IPagedList<SitecoreLibrary.ViewModels.Books>

<h2>LIST OF BOOKS</h2>

<p>
    @Html.ActionLink("Add New Book", "AddBook")
</p>

@{
    var bookFilterList = new List<string> {"All books", "Available books", "Taken books" } as IEnumerable<string>;
}

@using (Ajax.BeginForm("GetAllBooks", "Book", new AjaxOptions
{
    HttpMethod = "Get",
    UpdateTargetId = "SearchResults",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace
}))
{
    <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            @Html.DropDownList("selectList", new SelectList(bookFilterList), "Select books plan", new { onchange = "$(this.form).submit();" })
    </div>
}

@Html.Partial("_BooksTable")

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllBooks", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing( new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "SearchResults"}))

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>