@model IEnumerable<SitecoreLibrary.Models.Book>

<p>
    @Html.ActionLink("Add New Book", "AddBook")
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
 
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.Bookid)
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBookDetails", new { id = item.Bookid }) |
                @Html.ActionLink("Delete", "DeleteBook", new { id = item.Bookid }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>

    }

</table>
